*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 400px;
    width: 350px;
    border-radius: 20px;
    background-color: red;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}
#container i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.7;
    transition: all 0.3s ease;
}