*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    background-color: rgb(127, 127, 157);
    align-items: center;
    justify-content: center;
}
#card{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}
#card h1{
    text-align: center;
    font-size: 20px 0;
    margin: 20px;
    color: #333;
}
#card h5{
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #742727;
    margin: 20px;
}
#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    
}
#card #remove{
    background-color: grey;
    color: #111;
    
}
#card button:active{
     scale:0.98;
}