*{
    margin: 0%;
    padding: 0%;
}
html, body {
    background-color: white;
    height: 100%;
    width: 100%;
    
    
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 50px;
}
button {
    margin-top: 20px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
button.active {
    scale: 0.95;
}