*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
    
    background-color: black;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate{
    from{
        --rotate : 0deg;
        
    }
    to{
        --rotate : 360deg;
    }
}
.box{
    height: 400px;
    width: 300px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding-bottom: 10px;
    padding-inline: 10px;
    background: 
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate),black,rgba(255,0,123),black);
    border:0px solid rgba(255,255,255,0);
    border-radius: 15px;
    animation:borderAnimate 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    transition: all ease 0.5s;
    box-shadow: 0 0 0 rgba(255,0,123);
    text-shadow: 0 0 0px rgba(255,0,123) ;
    color: white;
    
} 
.box:hover{
    animation-play-state:running;
    border-width: 5px;
    box-shadow: 0 0 50px rgba(255,0,195);
    color:rgba(255,0,123) ;
    text-shadow: 0 0 10px rgba(255,0,123) ;
}
.box img{
    width:100%;
}
p{
    font-size: 15px;
}
