*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    anchor-name: --some-anchor;
    

}
.box{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    
}
.box:hover{
    anchor-name: --some-anchor;
}
.red{
    background-color: red;
}
.blue{
    background-color: blueviolet;
}
.green{
    background-color: green;
}
.anchor{
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
    /* height: 100px;
    width: 100px; */
    top: anchor(top);
    left:anchor(left);
    bottom: anchor(bottom) ;
    right: anchor(right);
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    
}