*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
#card{
    height: 480px;
    width: 350px;
    background-color: white;
    border-radius: 0;
    border: 3px solid white;
    position: relative;
    cursor: pointer;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
#storiyan{
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid grey;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    height: 90px;
    width: 90px;
    border:  3px solid rgb(216, 32, 32);
    

    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.story img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}